{% extends "::base.html.twig" %}
{% block title %}AppBundle:Forum:index{% endblock %}

{% block body %}
    <h3>Forums</h3>
    <a href="{{ path('app_forum_add') }}">
        <button class="btn wawes-effect wawes-light">Create new forum
            <i class="material-icons right">send</i>
        </button>
    </a>


    <ul class="collection">
    {% for forum in forums %}
        <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title">
                <a href="{{ path('app_forum_show',{id:forum.id}) }}">{{ forum.title }}</a>
                <a href="{{ path('app_forum_edit',{id:forum.id}) }}"><i class="material-icons">edit</i></a>
            </span>
            <p>
            <blockquote>{{ forum.description }}</blockquote>
            </p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
