{% extends "::base.html.twig" %}

{% block title %}AppBundle:Forum:show{% endblock %}

{% block body %}
    <h3>{{ forum.title }}</h3>
    <blockquote>{{ forum.description }}</blockquote>
    <a href="{{ path('app_topic_add',{forum_id:forum.id}) }}">
        <button class="btn wawes-effect wawes-light">Create new topic
            <i class="material-icons right">send</i>
        </button>
    </a>
    <ul class="collection">
        {% for topic in forum.topics %}
            <li class="collection-item avatar">
                <i class="material-icons circle green">insert_char</i>
                <span class="title"><a href="{{ path('app_topic_index',{id:topic.id,forum_id:forum.id}) }}">{{ topic.title }}</a>
                </span>
                <span class="secondary-content">
                    {{ topic.author }} - {{ topic.creation |date }}
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
